<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <a href="https://front.codes/" class="logo" target="_blank">
        <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
    </a> -->
    
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                          <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div [formGroup]="loginForm" class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <div class="form-group">
                                                <input type="email" formControlName="uname" name="logemail" class="form-style" placeholder="Username" id="logemail" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                                <div *ngIf="this.loginForm.get('uname')?.errors && this.loginForm.get('uanme')?.touched" style="color:red;">Invalid Username</div>

                                            </div>	
                                            <div class="form-group mt-2">
                                                <input formControlName="pswd" type="password" name="logpass" class="form-style" placeholder="Password" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                                <div *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched" style="color:red;">Invalid Password</div>


                                            </div>
                                            <button (click)="login()" class="btn mt-4">submit</button>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                          </div>
                                      </div>
                                  </div>
                                <div class="card-back" id="log">
                                    <div class="center-wrap">
                                        <div [formGroup]="registerForm" class="section text-center">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input type="text" formControlName="uname1" name="logname" class="form-style" placeholder="Enter username" id="logname" autocomplete="off">
                                                <i class="input-icon uil uil-user"></i>
                                                <div *ngIf="this.loginForm.get('uname1')?.errors && this.loginForm.get('uname1')?.touched" style="color:red;">Invalid Username</div>

                                            </div>	
                                            <div class="form-group mt-2">
                                                <input type="email" formControlName="email1" name="logemail" class="form-style" placeholder="Enter email" id="logemail" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                                <div *ngIf="this.loginForm.get('email1')?.errors && this.loginForm.get('email1')?.touched" style="color:red;">Invalid Email</div>

                                            </div>	
                                            <div class="form-group mt-2">
                                                <input type="password" formControlName="pswd1" name="logpass" class="form-style" placeholder="Enter password" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                                <div *ngIf="this.loginForm.get('pswd1')?.errors && this.loginForm.get('pswd1')?.touched" style="color:red;">Invalid Password</div>

                                            </div>
                                            <button (click)="register()" class="btn mt-4">submit</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</body>
</html>